footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='/building-in-progress') About us
    li: a(href='/building-in-progress') Download apps
    li: a(href='/building-in-progress') Become a guide
    li: a(href='/building-in-progress') Careers
    li: a(href='/building-in-progress') Contact
  p.footer__copyright &copy; by Jonas Schmedtmann.