extends base

block content
  .building-progress
    .building-progress__container
      .building-progress__image
        img(src='/img/coming-soon.png' alt='Coming soon')
      .building-progress__text
        h1.building-progress__heading Coming Soon
        p.building-progress__description We're working hard to bring you something amazing. Stay tuned!